In [1]:
import torch

In [2]:
x = torch.rand(5,3)

In [9]:
x[1, 1].item()

0.009156107902526855

tensor([[0.5587, 0.1900, 0.1116],
        [0.0596, 0.0092, 0.5728],
        [0.8610, 0.6603, 0.4217],
        [0.9673, 0.3720, 0.9459],
        [0.1639, 0.1881, 0.4811]])

In [12]:
y = x.view(15)

In [13]:
y

tensor([0.5587, 0.1900, 0.1116, 0.0596, 0.0092, 0.5728, 0.8610, 0.6603, 0.4217,
        0.9673, 0.3720, 0.9459, 0.1639, 0.1881, 0.4811])

In [14]:
torch.cuda.is_avaliable()

AttributeError: module 'torch.cuda' has no attribute 'is_avaliable'

In [20]:
import folium
import pandas as pd

In [18]:
m = folium.Map(location=[-11.9294, 	-59.9887])

In [21]:
url = (
    "https://raw.githubusercontent.com/python-visualization/folium/master/examples/data"
)
state_geo = f"{url}/us-states.json"
state_unemployment = f"{url}/US_Unemployment_Oct2012.csv"

state_data = pd.read_csv(state_unemployment)

In [22]:
m = folium.Map(location=[48, -102], zoom_start=3, tiles="Stamen Toner")

In [24]:
folium.Choropleth(
    state_geo,
    data=state_data,
    columns=["State", "Unemployment"],
    key_on="feature.id",
    fill_color="YlGn",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="Unemployment Rate (%)",
).add_to(m)

In [26]:
popup = "Must be on top of the choropleth"

folium.CircleMarker(
    location=[48, -102],
    radius=10,
    fill=True,
    popup=popup,
    weight=1,
).add_to(m)


# m

In [28]:
state_data.head()

  State  Unemployment
0    AL           7.1
1    AK           6.8
2    AZ           8.1
3    AR           7.2
4    CA          10.1